a:link{
    color: blue;
}
a:hover{
    color: green;
}
h1, h2, h3{
    color: blue;
}
p{
color: #0000FF; font-family: Verdana, Geneva, Tahoma, sans-serif;font-size:medium;
}
.copyright{
    font-size: small; text-align: center;
}
a:hover{
    color: chartreuse;
}